<table id="animaletabel">
    <tr>
        <th>Animal</th>
        <th>Rasa</th>
        <th>Varsta</th>
    </tr>
    <% for(let i=0;i<animalee.length;++i){%>
    <tr>
        <td><%=animalee[i].animal%></td>
        <td><%=animalee[i].rasa%></td>
        <td><%=animalee[i].varsta%></td>
    </tr>
    <%}%>
</table>