<p id="adresa">Str. Nuferilor,nr.35,Buzau</p>
<h2>PROGRAM</h2>
<p id="ore">Luni-Vineri: 9-18</p>
<p id="weekend">Sambata: 9-16</p>
<p id="liber">Duminica: inchis</p>
<p id="nr">Numar de telefon: 0763772814</p>
<p id="email">Email: animaledecompanie@gmail.com</p>