<div class="despre">
<p>
   Oamenii sunt in mod natural pasionati de animale, in special de cele dragute si dragalase. Animalele de companie aduc placere si bucurie proprietarilor lor reducand nivelurile de stress. Exista o multime de animale de companie dintre care puteti alege, pornind de la hamsteri, soareci si porci de guineea pana la grupurile de infricosatoare de reptile, cum ar fi serpi si iguane. Animalele de companie nu ofera doar placere, ci, de asemenea, securitate. De exemplu cainii ajuta la asigurarea sigurantei casei dumneavoastra datorita capacitătii lor extraordinare de a detecta lucruri care care nu sunt ordine.
</p>
<p>
   Pisicilor le place sa se joace si sa se rasfete, atragand mereu atentia asupra faptului ca ei trebuie sa fie centrul universului proprietarului si nu altcineva. Pisicile de asemenea adora sa comunice asa ca isi incita stapanii prin mieunaturi determinandu-i sa le vorbeasca. Atat cainii cat si pisicile sunt animale foarte iubitoare si fidele.
 </p>
 <p>
   Oamenii sunt diferiti, la fel si alegerile lor legate de animale. Unii prefera animale de companie obisnuite cum ar fi catei sau pisici, pe cand altii au gusturi ceva mai ciudate preferand ca animale tigrii de exemplu. Atunci cand alegi un animal de companie ceea ce conteaza este capacitatea de a avea grija de el, siguranta ca te poti descurca
 </p>
 <p>
   Aceste animale de companie pot fi niste prieteni foarte buni, ajungand sa fie considerati de multi ca parte din familie. Nivelul de comunicare dintre stapani si animale atingand cote inalte, stapanul stiind doar din gesturile animalului ce isi doreste, de ce are nevoie. Ca si noi, au sentimente, isi pot da seama cand suntem fericiti sau cand suntem tristi, aceasta capacitate fiind denumita instinct animal. Acesta ii ajuta sa supravietuiasca si sa se acomodeze mediului in care traiesc. Daca inca nu aveti animale de companie este vremea sa va luati unul caci va va schimba viata in bine.
 </p>
 <p>
</div>