<div class="noi">
<p id="echipa">Vă invităm să cunoașteți echipa noastră</p>
<div class="angajati">
    <img src="angajat1.jpg" alt="Angajat 1" width="400" height="400">
    <p>Andreea, caretaker</p><hr><br>
    <img src="angajat2.jpg" alt="Angajat 2" width="400" height="400">
    <p >Maria, cosmetician canin</p><hr><br>
    <img src="angajat3.jpg" alt="Angajat 3" width="400" height="400">
    <p >Irina, veterinar</p><hr><br>
    <img src="angajat4.jpg" alt="Angajat 4" width="400" height="400">
    <p >Liviu, frizerie</p><hr><br>
    <img  id="proprietari" src="fondatori.jpg" alt="Fondatori" width="600" height="400">
    <p>Fondatori</p>
</div>
</div>