  </div>
  <div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" width="800" height="450">
  </div>
  
  
  <div class="rand">
    <div class="coloana">
      <a href="#expandedImg" target="_self"> <img src="imag1.jpg" alt="Imagine1" height="200" width="300" onclick="myFunction(this);"></a>
    </div>
    <div class="coloana">
        <a href="#expandedImg" target="_self"><img src="imag2.jpg" alt="Imagine2" height="200" width="300" onclick="myFunction(this);"></a>
    </div>
    <div class="coloana">
        <a href="#expandedImg" target="_self"><img src="imag3.jpg" alt="Imagine3" height="200" width="300" onclick="myFunction(this);"></a>
    </div>
    <div class="coloana">
        <a href="#expandedImg" target="_self"><img src="imag4.jpg" alt="Imagine4" height="200" width="300" onclick="myFunction(this);"></a>
    </div>
    <div class="coloana">
        <a href="#expandedImg" target="_self"></a><img src="imag5.jpg" alt="Imagine5" height="200" width="300" onclick="myFunction(this);"></a>
      </div>
      <div class="coloana">
        <a href="#expandedImg" target="_self"></a><img src="imag6.jpg" alt="Imagine6" height="200" width="300" onclick="myFunction(this);"></a>
      </div>
