<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <script src="javascript.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Animale de companie</title>
    </head>
    <body>
        <h1>animale de companie</h1>
   
        <nav class="navbar">
            <a href="/">Acasă</a></li>
            <a href="despre">Despre</a>
            <a href="echipa">Echipa noastră</a>
            <a href="adoptie">Listă animale</a>
            <a href="contact">Contact</a>
            <a id="prog" href="programare">Programează-te pentru adoptie</a>
        </nav>
 
        <main id="continut">
            <%-body-%>
        </main>
        <hr>
        <footer id="footer">&copy;.2021.Programare Web</footer> 

    </body>

</html>